/* About Page */
.about-1{
    padding: 30px 10%;
    background-color: #FAFAFA;
}

.about-1-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-1-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.about-1-left h1{
    font-family: 'Agatho';
    text-align: center;
    font-size: 32px;
}

.about-1-left p{
    text-align: justify;
    font-size: 16px;
}

.about-1-right{
    display: flex;
    justify-content: end;
}

.about-1-right img{
    max-width: 100%;
    max-height: 600px; 
    object-fit: contain;
    border-radius: 20px;
}
/* ------------------------------ */
/* ------------------------------ */
/* About Page 2 */
.about-2 {
    padding: 30px 10%;
}

.about-2 h1,h3 {
    font-family: 'Agatho';
    text-align: center;
}

.about-2 h1{
    font-size: 32px;
}

.about-2 h3{
    padding-top: 10px;
}

.semi{
    font-size: 15px;
}

.about-2-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding-top: 20px;
}

.about-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #D0B49E;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden; 
    height: 400px;  
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.about-box h2 {
    font-family: 'Agatho';
    text-align: center;
}

.about-box p {
    text-align: center;
    opacity: 0; 
    height: 0; 
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

.about-box:hover {
    background-color: #F3DBC9;
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-box:hover p {
    opacity: 1; 
    height: auto; 
}

.about-box:hover h2 {
    opacity: 0; 
    height: 0; 
}

.ending {
    padding-top: 20px;
}

.ending h1{
    color: #D0B49E;
    font-family: 'Cursive Serif';
    font-weight: lighter;
}
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* Resonsive Code */
@media screen and (max-width: 1450px) {
    /* About Page */
    .about-1-grid{
        grid-template-columns: 1fr;
    }
    
    .about-1-left{
        order: 3;
        padding-top: 15px;
    }
    
    .about-1-right{
        justify-content: center;
    }
}

@media screen and (max-width: 1100px) {
    /* About Page 2 */
    .about-2-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 780px) {
    /* About Page 2 */
    .about-2-grid {
        grid-template-columns: 1fr;
    }
    
}

@media screen and (max-width: 480px) {
    /* About Page */
    .about-1-left h1{
        font-size: 29px;
    }
    
    .about-1-left p{
        text-align: left;
    }


    /* About Page 2 */
    .about-2 h1{
        font-size: 28px;
    }

    .ending h1{
        font-size: 24px;
    }

    .about-box {
        height: 500px;  
    }

    /* Hover Code Change */
    .about-box:hover {
        background-color: #D0B49E;
        transform: none;
        box-shadow: none;
    }

    .about-box:hover p {
        opacity: 0;
        height: 0;
    }

    .about-box:hover h2 {
        opacity: 1;
        height: auto;
    }
    
    .about-box.active {
        background-color: #F3DBC9;
        transform: scale(1.01);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .about-box.active p {
        opacity: 1; 
        height: auto; 
    }
    
    .about-box.active h2 {
        opacity: 0; 
        height: 0; 
    }

    .about-2 h3{
        font-size: 16px;
    }
    
}